@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}
.Bellefair {
  font-family: "Bellefair", serif;
}

.barlow {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
.barlow-condensed {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}
.bold {
  font-weight: 700;
}

.light {
  font-weight: 200;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar ul {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

.navBar ul span {
  font-weight: 700;
}

/* Carousel */

.slick-list .slick-arrow {
  display: none !important;
}
.slick-dots li button::before {
  color: #fff !important;
  font-size: 15px !important;
}
.slick-dots {
  top: 42%;
  bottom: 0 !important;
}

@media only screen and (min-width: 1024px) {
  .slick-dots {
    left: 0 !important;
    width: 160px !important;
    margin-top: 40px !important;
    top: unset !important;
    bottom: 40px !important;
  }
}
